.App-container {
  text-align: center;
  margin: 250px auto;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.login-button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 10px 25px;
  background-color: rgb(70, 124, 175);
  border-radius: 5px;
  border: none;
  color: white;
}
.login-button:hover {
  opacity: 0.6;
}
.welcome {
  font-family: "Roboto Slab", serif;
}

button {
  cursor: pointer;
}
/* header */
.flex-container-welcome {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.logo {
  width: 120px;
  margin-right: 25px;
}
.welcome-text {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  margin-right: 20px;
}

.userPhoto {
  border-radius: 50px;
}
.signout-button {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  width: 90px;
  height: 40px;
  margin-left: 25px;
  margin: auto 0 auto 25px;
  background-color: rgb(70, 124, 175);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
}
.signout-button:hover {
  opacity: 0.6;
}

/* bingo content */

.bingo-container {
  justify-content: center;
  margin: auto;
  width: 700px;
}
.bingo-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
}
.bingo-button {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  width: 100px;
  height: 70px;
  background-color: rgb(84, 75, 109);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
}
.bingo-button:hover {
  background-color: rgba(16, 94, 26, 0.753);
  transform: scale(1.09);
  transition-duration: 0.5s;
}
/* random content */

.random-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 35px 0;
}
.random-character {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-left: 25px;
}
.randombuttom-start {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  width: 80px;
  height: 80px;
  background-color: rgb(88, 151, 107);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 15px;
}
.randombuttom-start:hover {
  transform: scale(1.09);
  transition-duration: 0.5s;
}
.randombuttom-next {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  width: 80px;
  height: 80px;
  background-color: rgb(88, 151, 107);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 15px;
}
.randombuttom-next:hover {
  transform: scale(1.09);
  transition-duration: 0.5s;
}
.characters-heading {
  font-family: "Roboto", sans-serif;
  color: rgb(118, 155, 155);
  font-size: 16px;
  margin-top: 15px;
}
.wons-heading {
  font-family: "Roboto", sans-serif;
  color: rgb(21, 156, 156);
  font-size: 16px;
  margin-top: 15px;
}
.char-list {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  color: rgb(118, 155, 155);
  width: 100%;
}
.char-item {
  list-style: none;
  margin-right: 5px;
}
.reset-button-container {
  justify-content: center;
  margin: auto 0 auto;
}
.reset-button {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin-right: 35px;
  width: 60px;
  height: 60px;
  background-color: rgba(216, 176, 44, 0.815);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 12px;
}
/* Winner content */
.haswon-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(88, 151, 107);
  font-size: 25px;
  margin: 0 0 15px;
}
